.my-app{
  width: 100%;
  text-align: center;
}

.my-app input {
  margin: 30px;
  padding: 20px;
  width: 400px;
}

.my-app button{
  background: pink;
  width: 300px;
  color: white;
  height: 40px;
}

